<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head fragment -->
<head th:fragment="fragment-head (title)">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
          charset="UTF-8">
    <title th:text="${title}"></title>

    <!-- Import bootstrap -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
    <!-- Header fragment -->
    <header th:fragment="fragment-header">
        <!-- Logo -->
        <div class="container-fluid justify-content-center align-items-center">
            <a class="navbar-brand d-flex justify-content-center my-2" th:href="@{/home}">
                <img src="/image/logo.svg" alt="logo" width="200" height="50">
            </a>
        </div>

        <hr class="m-0">

        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid my-1">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-items"
                        aria-controls="navbar-items" aria-expanded="false" aria-label="toggle-nav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbar-items">
                    <ul class="navbar-nav" id="navbar-ul">
                        <li class="nav-item" id="nav-item-1">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item" id="nav-item-2">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item" id="nav-item-3">
                            <a class="nav-link" href="#">Channels</a>
                        </li>
                        <li class="nav-item" id="nav-item-4">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item" id="nav-item-5">
                            <button class="nav-link" id="nav-login-button">Login</button>
                            <form id="form-logout" th:method="post" th:action="@{~/api/member/logout}">
                                <button class="nav-link" id="nav-logout-button">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Footer fragment -->
    <footer th:fragment="fragment-footer">
        <hr class="m-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center m-5">
                    <a href="https://github.com/juwon-code/common-blog-project" target="_blank">
                        <img src="/image/github.svg" alt="Github" width="85" height="85">
                    </a>
                    <h6 class="mt-4">Copyright 2024. juwoncode all rights reserved.</h6>
                </div>
            </div>
        </div>
    </footer>

    <!-- Header Script -->
    <script th:fragment="fragment-script">
        const navLoginButton = document.getElementById('nav-login-button');
        const formLogout = document.getElementById('form-logout');
        const navLogoutButton = document.getElementById('nav-logout-button');

        document.addEventListener('DOMContentLoaded', () => {
            const username = localStorage.getItem('Username');

            showNavigationButton(username);
        });

        navLoginButton.addEventListener('click', () => {
            redirectLoginPage();
        });

        navLogoutButton.addEventListener('click', (e) => {
            if (window.confirm('Are you sure want to logout?')) {
                logoutProcess();
            } else {
                e.preventDefault();
            }
        });

        function showNavigationButton(username) {
            if (username) {
                navLoginButton.style.display = 'none';
                formLogout.style.display = 'block';
            } else {
                navLoginButton.style.display = 'block';
                formLogout.style.display = 'none';
            }
        }

        function redirectLoginPage() {
            window.location.href = '/member/login';
        }

        function logoutProcess() {
            const form = document.getElementById('form-logout');
            alert('Logout Successfully!!!');
            localStorage.clear();
            form.submit();
        }
    </script>
</body>
</html>