<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/fragments :: fragment-head ('Common Blog Project :: Login')}">
</head>
<body>
    <header th:replace="~{layout/fragments :: fragment-header}">
    </header>

    <div class="container-fluid" style="height: 1000px; margin-top: 150px; margin-bottom: 150px;">
        <div class="d-flex justify-content-center align-items-center">
            <div class="m-5" style="width: 480px;">
                <div class="mb-3 text-center">
                    <h3 class="text-dark">Login</h3>
                </div>
                <form action="">
                    <div class="mb-2 form-floating">
                        <input type="text" class="form-control" id="username" name="username" placeholder="ID">
                        <label for="username">ID</label>
                    </div>
                    <div class="mb-1 form-floating">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        <label for="password">Password</label>
                    </div>
                    <div class="mb-2">
                        <span class="text-danger" id="error"></span>
                    </div>
                    <div class="mb-2">
                        <button type="button" class="form-control btn btn-primary btn-lg" id="login-button">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer th:replace="~{layout/fragments :: fragment-footer}">
    </footer>
</body>
</html>