<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/fragments :: fragment-head ('Common Blog Project :: Login')}">
</head>
<body>
    <header th:replace="~{layout/fragments :: fragment-header}">
    </header>

    <div class="container-fluid" style="height: 1000px; margin-top: 150px; margin-bottom: 150px;">
        <div class="d-flex justify-content-center align-items-center">
            <div class="m-5" style="width: 480px;">
                <div class="mb-3 text-center">
                    <h3 class="text-dark">Login</h3>
                </div>
                <form id="form-login" th:method="POST" th:action="@{~/member/login}">
                    <div class="mb-2 form-floating">
                        <input type="text" class="form-control" id="username" name="username" placeholder="ID">
                        <label for="username">ID</label>
                    </div>
                    <div class="mb-1 form-floating">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        <label for="password">Password</label>
                    </div>
                    <div class="mb-2">
                        <span class="text-danger" id="error" th:text="${message}"></span>
                    </div>
                    <div class="mb-2">
                        <button type="button" class="form-control btn btn-primary btn-lg" id="login-button">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer th:replace="~{layout/fragments :: fragment-footer}">
    </footer>

    <script>
        const button = document.getElementById('login-button');

        button.addEventListener('click', () => {
            checkParameter();
        });

        function checkParameter() {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            let isValid = true;

            if (!checkUsername(username) && !checkPassword(password)) {
                updateErrorText("유저명 또는 비밀번호가 비어있습니다.");
                isValid = false;
            }

            if (isValid === true) {
                const form = document.getElementById('form-login');
                form.submit();
            }
        }

        function checkUsername(username) {
            return username !== '';
        }

        function checkPassword(password) {
            return password !== '';
        }

        function updateErrorText(newText) {
            const span = document.getElementById('error');

            span.innerText = newText;
        }
    </script>
</body>
</html>