<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/fragments :: fragment-head ('Common Blog Project :: Login')}">
</head>
<body>
    <header th:replace="~{layout/fragments :: fragment-header}">
    </header>

    <div class="container-fluid" style="height: 1000px; margin-top: 150px; margin-bottom: 150px;">
        <div class="d-flex justify-content-center align-items-center">
            <div class="m-5" style="width: 480px;">
                <div class="mb-3 text-center">
                    <h3 class="text-dark">Login</h3>
                </div>
                <form id="form-login" th:method="POST" th:action="@{~/member/login}">
                    <div class="mb-2 form-floating">
                        <input type="text" class="form-control" id="username" name="username" placeholder="ID">
                        <label for="username">ID</label>
                    </div>
                    <div class="mb-1 form-floating">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        <label for="password">Password</label>
                    </div>
                    <div class="mb-2">
                        <span class="text-danger" id="login-result-span" text=""></span>
                    </div>
                    <div class="mb-2">
                        <button type="button" class="form-control btn btn-primary btn-lg" id="login-button">Login</button>
                    </div>
                </form>
                <hr class="mb-2">
                <div class="d-flex justify-content-center">
                    <a class="m-2" th:href="@{/oauth2/authorization/kakao}">
                        <img src="/image/kakao_login_button.svg" alt="Login with Kakao" width="64" height="64">
                    </a>
                    <a class="m-2" th:href="@{/oauth2/authorization/naver}">
                        <img src="/image/naver_login_button.png" alt="Login with Naver" width="64" height="64">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{layout/fragments :: fragment-footer}">
    </footer>

    <script th:replace="~{layout/fragments :: fragment-script}">
    </script>

    <script>
        const loginButton = document.getElementById('login-button');
        const loginResultSpan = document.getElementById('login-result-span');

        loginButton.addEventListener('click', () => {
            loginProcess();
        });

        async function loginProcess() {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            let isOk = true;

            if (!await checkParamsEmpty(username, password)) {
                setResultText('Please enter your username and password.');
                isOk = false;
            }

            if (isOk === true) {
                await fetchLogin(username, password);
            }
        }

        async function fetchLogin(username, password) {
            const uri = '/api/member/login';
            const data = {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({username, password})
            }

            try {
                const response = await fetch(uri, data);
                const json = await response.json();

                if (json.ok === false) {
                    setResultText(json.message);
                    return false;
                }

                const accessToken = response.headers.get('Authorization');
                const refreshToken = response.headers.get('Refresh-Token');
                const username = response.headers.get('Username');

                localStorage.setItem('Access-Token', accessToken);
                localStorage.setItem('Refresh-Token', refreshToken);
                localStorage.setItem('Username', username);

                window.location.href = '/home';
            } catch (error) {
                alert('A problem occurred during login process. please contact administrator.');
            }
        }

        function checkParamsEmpty(username, password) {
            return username !== '' && password !== '';
        }

        function setResultText(message) {
            loginResultSpan.innerText = message;
        }
    </script>
</body>
</html>